.profile {
  max-width: 1140px;
  width: 100%;
  margin: 0 auto;
}

.profile__heading {
  color: #FFF;
  text-align: center;
  font-family: 'Inter', Arial, sans-serif;
  font-size: 24px;
  line-height: normal;
  margin: 74px 0 123px;
}

@media screen and (max-width: 768px) {
  .profile__heading {
    margin: 236px 0 96px;
  }
}

@media screen and (max-width: 350px) {
  .profile__heading {
    margin: 70px 0 80px;
  }
}

.profile__form {
  max-width: 410px;
  width: 100%;
  margin: 0 auto 70px;
  border: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
}


@media screen and (max-width: 768px) {
  .profile__form {
    margin-bottom: 210px;
  }
}

@media screen and (max-width: 350px) {
  .profile__form {
    max-width: 260px;
    margin-bottom: 40px;
  }
}

.profile__inputs {
  border: none;
  padding: 0;
  margin-bottom: 204px;
}


@media screen and (max-width: 768px) {
  .profile__inputs {
    margin-bottom: 194px;
  }
}

@media screen and (max-width: 350px) {
  .profile__inputs {
    margin-bottom: 363px;
  }
}

.profile__input-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #424242;

}

.profile__input-container:last-child {
  border-bottom: none;
  padding-top: 17px;

}

.profile__label {
  color: #FFF;
  font-family: 'Inter', Arial, sans-serif;
  font-size: 11px;
  font-weight: 500;
  padding-bottom: 16px;
}

.profile__input {
  background: transparent;
  border: none;
  color: #FFF;
  text-align: right;
  font-family: 'Inter', Arial, sans-serif;
  font-size: 11px;
  font-weight: 400;
  padding-bottom: 16px;
}

.profile__edit-button {
  color: #FFF;
  text-align: center;
  font-family: 'Inter', Arial, sans-serif;
  font-size: 13px;
  font-weight: 400;
  border: none;
  cursor: pointer;
  transition: 0.4s;
  opacity: 1;
  background: transparent;
  padding: 0;
  margin: 0 auto 16px;
}

.profile__edit-button:hover {
  opacity: 0.5;
  cursor: pointer;
}

.profile__logout-button {
  color: #EE3465;
  text-align: center;
  font-family: 'Inter', Arial, sans-serif;
  font-size: 13px;
  font-weight: 500;
  border: none;
  cursor: pointer;
  transition: 0.4s;
  opacity: 1;
  background: transparent;
  padding: 0;
  margin: 0 auto
}

.profile__logout-button:hover {
  opacity: 0.5;
  cursor: pointer;
}

.profile__save-button {
  max-width: 410px;
  width: 100%;
  min-height: 45px;
  border-radius: 3px;
  background: #3456F3;
  color: #FFF;
  text-align: center;
  font-family: 'Inter', Arial, sans-serif;
  font-size: 14px;
  font-weight: 500;
  margin: 0 auto;
  border: none;
  cursor: pointer;
  transition: 0.4s;
  opacity: 1;
  padding: 0;
}

.profile__save-button:hover {
  opacity: 0.5;
  cursor: pointer;
}

.profile__logout-link {
  text-decoration: none;
  color: #EE3465;
}