@keyframes appearance {
  from {
    transform: translateX(100%);
  }

  to {
    transform: translateX(0);
  }
}

@keyframes disappearance {
  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(100%);
  }
}


.burgermenu {
  max-width: 67.71vw;
  width: 100%;
  height: 100%;
  z-index: 5;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  background: #202020;
  display: none;
  visibility: hidden;
  opacity: 0;
  flex-direction: column;
}

@media screen and (max-width: 350px) {
  .burgermenu {
    max-width: 100vw;
  }
}

.burgermenu_opened {
  display: flex;
  animation: appearance 0.8s ease-out;
  opacity: 1;
  visibility: visible;
}

.burgermenu_closing {
  animation: disappearance 0.8s ease-out;
}


.burgermenu__overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 4;
  background-color: rgba(0, 0, 0, 0.5);
  visibility: hidden;
  opacity: 0;
}

.burgermenu__overlay_opened {
  visibility: visible;
  opacity: 1;
}


.burgermenu__close-icon {
  background-image: url('../../images/close-icon.png');
  max-width: 25px;
  width: 100%;
  min-height: 25px;
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  top: 22.5px;
  right: 22.5px;
  cursor: pointer;
  transition: 0.4s;
  opacity: 1;
}

@media screen and (max-width: 430px) {
  .burgermenu__close-icon {
    top: 13.44px;
    right: 13.44px;
  }
}


.burgermenu__close-icon:hover {
  opacity: 0.5;
}

.burgermenu__navigation {
  max-width: 340px;
  width: 100%;
  display: flex;
  flex-direction: column;
  margin: 160px auto 49vh;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 430px) {
  .burgermenu__navigation {
    margin-top: 144px;
  }
}


.burgermenu__link {
  color: #FFF;
  text-align: center;
  font-family: 'Inter', Arial, sans-serif;
  font-size: 18px;
  font-weight: 500;
  text-decoration: none;
  cursor: pointer;
  transition: 0.4s;
  opacity: 1;
  margin: 0 0 28px;
}

.burgermenu__link:hover {
  opacity: 0.5;
  text-decoration: underline;
}

.burgermenu__account-button {
  margin: 0 auto;
  max-width: 100px;
  width: 100%;
  min-height: 32px;
  border-radius: 20px;
  background: #313131;
  color: #FFF;
  text-align: center;
  font-family: 'Inter', Arial, sans-serif;
  font-size: 14px;
  font-weight: 500;
  line-height: 16px;
  border: 0;
  transition: 0.4s;
  opacity: 1;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

.burgermenu__account-button:hover {
  opacity: 0.5;
}