.techs {
  max-width: 1280px;
  width: 100%;
  background-color: #272727;
  padding-top: 100px;
}


@media screen and (max-width: 768px) {
  .techs {
    max-width: 768px;
    padding-top: 90px;
  }
}

@media screen and (max-width: 350px) {
  .techs {
    max-width: 292px;
    padding-top: 70px;
    margin: 0 auto;
    background-color: #202020
  }
}

.techs__title {
  border-bottom: 1px solid #dadada;
  max-width: 1140px;
  width: 100%;
  padding: 0 0 24px;
  margin: 0 auto;
  color: #FFF;
  font-family: 'Inter', Arial, sans-serif;
  font-size: 22px;
  font-weight: 400;
  letter-spacing: -0.88px;
}

@media screen and (max-width: 768px) {
  .techs__title {
    max-width: 668px;
  }
}

@media screen and (max-width: 350px) {
  .techs__title {
    max-width: 284px;
    font-size: 18px;
    font-style: normal;
    letter-spacing: -0.72px;
    padding-bottom: 28px;
  }
}

.techs__container {
  padding-bottom: 100px;
  max-width: 1140px;
  width: 100%;
  margin: 0 auto;
}

@media screen and (max-width: 768px) {
  .techs__container {
    max-width: 668px;
    padding-bottom: 90px;
    margin-top: 80px;
  }
}

@media screen and (max-width: 350px) {
  .techs__container {
    max-width: 292px;
    padding-bottom: 70px;
    margin-top: 60px;
  }
}

.techs__container-title {
  color: #FFF;
  text-align: center;
  font-family: 'Inter', Arial, sans-serif;
  font-size: 50px;
  font-weight: 400;
  line-height: 58px;
  letter-spacing: -2px;
  margin: 90px auto 26px;
  max-width: 600px;
  width: 100%;
}

@media screen and (max-width: 768px) {
  .techs__container-title {
    margin: 0 auto 22px;
  }
}

@media screen and (max-width: 350px) {
  .techs__container-title {
    font-size: 30px;
    letter-spacing: -1.2px;
    margin: 0 auto 24px;
    max-width: 292px;
  }
}

.techs__container-text {
  color: #FFF;
  text-align: center;
  font-family: 'Inter', Arial, sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: -0.56px;
  max-width: 460px;
  width: 100%;
  margin: 0 auto 100px;
}

@media screen and (max-width: 768px) {
  .techs__container-text {
    font-size: 12px;
    line-height: 18px;
    letter-spacing: -0.48px;
    margin-bottom: 83px;
  }
}


@media screen and (max-width: 350px) {
  .techs__container-text {
    font-size: 11px;
    line-height: 16px;
    letter-spacing: -0.44px;
    margin-bottom: 50px;
  }
}


.techs__block {
  padding-left: 0;
  display: flex;
  max-width: 690px;
  width: 100%;
  justify-content: space-between;
  margin: 0 auto;
}

@media screen and (max-width: 768px) {
  .techs__block {
    max-width: 648px;
  }
}

@media screen and (max-width: 350px) {
  .techs__block {
    max-width: 178px;
    display: grid;
    grid-template-columns: 84px 84px;
    gap: 10px;
  }
}

.techs__block-item {
  max-width: 90px;
  width: 100%;
  min-height: 60px;
  background: #303030;
  color: #FFF;
  text-align: center;
  font-family: 'Inter', Arial, sans-serif;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: -0.56px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  list-style-type: none;
}



@media screen and (max-width: 768px) {
  .techs__block-item {
    max-width: 84px;
    min-height: 57px;
    font-size: 12px;
    letter-spacing: -0.48px;
  }
}